@{
}
<link href="~/css/coachsearch.css" rel="stylesheet" />
<div class="my-3">
    <form class="d-flex float-start" role="search" style="width:50%">
        <input type="search" class="form-control me-2" aria-label="Search" placeholder="找教練" />
    </form>
    <div class="d-flex" >
        <select class="w-100 mx-3 px-3 rounded-3 form-select" name="city">
            <option>地區</option>
        </select>
        <select class="w-100 mx-3 px-3 rounded-3 form-select" name="course">
            <option>訓練需求</option>
        </select>
        <select class="w-100 mx-3 px-3 rounded-3 form-select" name="gender">
            <option>性別</option>
        </select>
    </div>
</div>

<h2 class="fw-bold my-3">共有 -- 位教練</h2>
<div class="d-flex flex-row flex-wrap justify-content-between">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/images/model.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Polina Tankilevitch</h5>
                    <p class="card-text">新北市、台北市</p>
                    <p class="card-text">#體態優化 #運動表現 #舉重 #CrossFit #自由教練 #肌力體能</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/images/model.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Polina Tankilevitch</h5>
                    <p class="card-text">新北市、台北市</p>
                    <p class="card-text">#體態優化 #運動表現 #舉重 #CrossFit #自由教練 #肌力體能</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/images/model.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Polina Tankilevitch</h5>
                    <p class="card-text">新北市、台北市</p>
                    <p class="card-text">#體態優化 #運動表現 #舉重 #CrossFit #自由教練 #肌力體能</p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>