@{
    ViewData["Title"] = "Profile";
}
<div class="border">
    <div class="container d-flex">
        <div class="w-25 border position-relative d-flex justify-content-center" style="height: 200px">
            <img src="~/images/model.jpg" class="position-absolute h-100" id="headshot" />
            <img src="~/images/mask.png" class="position-absolute h-100" />
            <form><input type="file" id="upload" class="d-none" /></form>
            <label for="upload" class="btn btn-light position-absolute w-100 bottom-0">更換大頭照</label>
        </div>
        <div class="w-75">
            <div class="d-flex align-items-center form-control h-25 fs-4 fw-bold">FITCONNECT教練</div>
            <div class="form-control h-50">自我介紹</div>
            <div class="form-control h-25 d-flex">
                <div class="w-25 d-flex align-items-center justify-content-evenly">
                    <i class="bi bi-person-circle" style="font-size: 2rem; color: rgb(87, 198, 163);"></i>
                    <div class="d-flex flex-column align-items-center">
                        <span class="fw-bold">加入時間</span>
                        <span class="fw-bold">2024-06-05</span>
                    </div>
                </div>

                <div class="w-25 d-flex align-items-center justify-content-evenly">
                    <i class="bi bi-calendar-event" style="font-size: 2rem; color: rgb(87, 198, 163);"></i>
                    <div class="d-flex flex-column align-items-center">
                        <span class="fw-bold">累計課程</span>
                        <span class="fw-bold">--</span>
                    </div>
                </div>

                <div class="w-25 d-flex align-items-center justify-content-evenly">
                    <i class="bi bi-chat-dots" style="font-size: 2rem; color: rgb(87, 198, 163);"></i>
                    <div class="d-flex flex-column align-items-center">
                        <span class="fw-bold">評論總數</span>
                        <span class="fw-bold">--</span>
                    </div>
                </div>

                <div class="w-25 d-flex align-items-center justify-content-evenly">
                    <i class="bi bi-balloon-heart-fill" style="font-size: 2rem; color: rgb(87, 198, 163);"></i>
                    <div class="d-flex flex-column align-items-center">
                        <span class="fw-bold">追蹤教練</span>
                        <span class="fw-bold">--</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="border bg-light d-flex" style="height:50px">
        <div class="border flex-fill text-center align-content-center hover-effect">
            <ul class="nav nav-pills">
                <li class="nav-item dropdown flex-fill h-100">
                    <a class="nav-link dropdown-toggle text-primary" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">教練專區</a>
                    <div class="dropdown-menu w-100" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);">
                        <a class="dropdown-item" href="#">開課</a>
                        <a class="dropdown-item" href="#">場地</a>
                        <a class="dropdown-item" href="#">薪資</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="border flex-fill text-center align-content-center hover-effect">
            <a class="d-block nav-link h-100 align-content-center" href="#">我的課程(0)</a>
        </div>
        <div class="border flex-fill text-center align-content-center hover-effect">
            <a class="d-block nav-link h-100 align-content-center" href="#">我的訂單(0)</a>
        </div>
        <div class="border flex-fill text-center align-content-center hover-effect">
            <a class="d-block nav-link h-100 align-content-center" href="#">我的蒐藏</a>
        </div>
        <div class="border flex-fill text-center align-content-center hover-effect">
            <a class="d-block nav-link h-100 align-content-center" href="#">我想要...</a>
        </div>
    </div>

    <div class="border bg-light d-flex" style="height:500px" id="displayDiv">
        
    </div>

</div>

@section Styles {
    <style>
        .hover-effect {
            background-color: rgba(87, 198, 163);
            transition: background-color 0.3s ease;
            transition: font-size 0.3s ease;
        }

            .hover-effect:hover {
                background-color: rgba(137, 221, 198);
                font-size: 1.25em;
            }

    </style>
}

@section Scripts {
    <script>
        const upload = document.getElementById('upload');
        const coachArea = document.getElementById('coachArea');
        const displayDiv = document.getElementById('displayDiv');

        upload.addEventListener('change', (event) => {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = (e) => {
                    document.getElementById('headshot').src = e.target.result;
                }
            }
        });

        coachArea.addEventListener('click', async (event) => {
           
        });

    </script>
}