
@{
    ViewData["Title"] = "Profile";
}

@{
    ViewData["Title"] = "Login Info";
    //member
}


<div style="padding-top:120px;background-color:#deebf7"></div>
<div id="my_page" class="bg-light pb-5">

    <div id="upside">

        <div id="info_div" class="pgmargin m-2 pt-5">
            <div class="d-flex flex-column float-start m-lg-2 mr-5 pr-2">
                <img src="~/images/logo.png" class="rounded-circle bg-transparent" alt="not found" height="140px" id="pic1">
                <button class="btn" id="btn">更換照片</button>
            </div>
            <div>
                <p id="txt1">name plus info</p>
                <div class="p-3" id="txt2">blank</div>
                <div class="d-flex flex-row bd-highlight mb-0  pb-0">
                    <div class="p-2 flex-fill bd-highlight pb-0">
                        <div class="d-flex flex-row bd-highlight mb-0">
                            <div class="m-1 mb-0">
                                <img src="~/images/member.png" class="rounded" alt="not found" width="40px">
                            </div>
                            <div class="flex-fill bd-highlight mb-0">
                                <p>個人資訊</p>
                                <p id="p1">Flex item 22</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 flex-fill bd-highlight pb-0">
                        <div class="d-flex flex-row bd-highlight mb-0">
                            <div class="m-1 mb-0">
                                <img src="~/images/list.png" class="rounded" alt="not found" width="40px">
                            </div>
                            <div class="flex-fill bd-highlight mb-0">
                                <p>累計課程</p>
                                <p id="p2">Flex item 22</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 flex-fill bd-highlight pb-0">
                        <div class="d-flex flex-row bd-highlight mb-0">
                            <div class="m-1 mb-0">
                                <img src="~/images/comment.png" class="rounded" alt="not found" width="40px">
                            </div>
                            <div class="flex-fill bd-highlight mb-0">
                                <p>評論總數</p>
                                <p id="p3">Flex item 22</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 flex-fill bd-highlight pb-0">
                        <div class="d-flex flex-row bd-highlight mb-0">
                            <div class="m-1 mb-0">
                                <img src="~/images/mail.png" class="rounded" alt="not found" width="40px">
                            </div>
                            <div class="flex-fill bd-highlight mb-0">
                                <p>追蹤教練</p>
                                <p id="p4">Flex item 22</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-1" />
        </div>

        <div id="info_nav" class="pgmargin">
            <nav class="navbar-light">
                <ul class="list-group flex-row m-2" id="ul_coach">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-1 flex-fill btn" id="li_coach">
                        <span>教練專區</span>
                        <span class="badge text-bg-info p-1 rounded-pill txtcolor" id="sp1">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-1 flex-fill btn">
                        <span>我的課程</span>
                        <span class="badge text-bg-info p-1 rounded-pill txtcolor" id="sp2">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-1 flex-fill btn">
                        <span>我的訂單</span>
                        <span class="badge text-bg-info p-1 rounded-pill txtcolor" id="sp3">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-1 flex-fill btn">
                        <span>我的蒐藏</span>
                        <span class="badge text-bg-info p-1 rounded-pill txtcolor" id="sp4">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-1 flex-fill btn">
                        <span>我想要…</span>
                        <span class="badge text-bg-info p-1 rounded-pill txtcolor" id="sp5">14</span>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div id="downside">

        <div id="div_load">
            <div class="pgmargin">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="div_none" class="disable">
            <div class="pgmargin">
                none
            </div>
        </div>

        <div id="教練專區" class="disable">
            <div class="pgmargin">
                coach
            </div>
        </div>
        <div id="我的課程" class="disable">
            <div class="pgmargin">
                course
            </div>
        </div>
        <div id="我的訂單" class="disable">
            <div class="pgmargin">
                order
            </div>
        </div>
        <div id="我的蒐藏" class="disable">
            <div class="pgmargin">
                like
            </div>
        </div>
        <div id="我想要…" class="disable">
            <div class="pgmargin">
                wishlist
            </div>
        </div>

    </div>

</div>


@section Styles {
    <style>
        .pgmargin {
            padding: 0 12%;
        }

        .active {
            display: block;
        }

        .disable {
            display: none;
        }

        .txtcolor {
            color: black;
            font-size: 16px;
        }

        . li_hover:hover {
            border: 2px solid gray
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
}

@section Scripts {
    <script>
        (() => {
            'use strict'

            const _id = 24
            const cid = 2

            var temp = document.getElementById('div_load')
            const btn = document.getElementById('btn')

            document.addEventListener('DOMContentLoaded', () => {
                const ul = document.getElementById('ul_coach')
                if (cid !== 2) {
                    ul.removeChild(ul.firstElementChild)
                }
            });

            (async () => {
                //console.log(`https://localhost:7199/api/Coach/${_id}`)
                const response = await fetch(`https://localhost:7199/api/Coach/${_id}`)
                const data = await response.json();
                //console.log(data)
                show(data)
            })();

            function show({ coachDetailDto: { name, intro, photo, phone, eMail, experties }, scheduleDatailDtos, rateDetailDtos }) {
                const d1 = document.getElementById('txt1')
                const d2 = document.getElementById('txt2')
                const p1 = document.getElementById('pic1')

                d1.textContent = `您好，教練${name}`
                d2.textContent = intro
                p1.src = `data:image/jpeg;base64,${photo}`

                const ph1 = document.getElementById('p1')
                const ph2 = document.getElementById('p2')
                const ph3 = document.getElementById('p3')

                ph1.textContent = `電話：${phone}電郵：${eMail}`
                //console.log(scheduleDatailDtos)
                ph2.textContent = scheduleDatailDtos.length.toString()

                //console.log(rateDetailDtos)
                let num1 = 0
                let num2 = rateDetailDtos.length

                for (let i = 0; i < num2; i++) {
                    num1 += rateDetailDtos[i].rateCoach
                }
                ph3.textContent = `AVG ${num1 / num2} in ${num2} comments`

            };

            const nav1 = document.getElementById('info_nav')
            const nav_lis = nav1.querySelectorAll('li')

            for (let li of nav_lis) {
                const sp = li.firstElementChild
                let text = sp.textContent
                li.addEventListener('click', (event) => {
                    event.preventDefault()
                    event.stopPropagation()
                    temp.classList.add("disable")
                    var div = document.getElementById(`${text}`)
                    div.classList.remove("disable")
                    //console.log(temp)
                    temp = div
                    //console.log(temp)
                })
            };


        })();

    </script>
}