@{
    ViewData["Title"] = "Profile";
}
<div class="border">
    <div class="container d-flex" style="height: 200px">
        <div class="w-25 border position-relative">
            <img src="~/images/model.jpg" class="position-absolute h-100" />
            <img src="~/images/mask.png" class="position-absolute h-100" />
            <button class="btn btn-link position-absolute w-100 bottom-0">更換大頭照</button>
        </div>
        <div class="w-75">
            <div class="d-flex align-items-center form-control h-25 fs-4 fw-bold">FITCONNECT教練</div>
            <div class="form-control h-50">自我介紹</div>
            <div class="form-control h-25 d-flex">
                <div class="w-25 d-flex align-items-center justify-content-evenly">
                    <i class="bi bi-person-circle" style="font-size: 2rem; color: cornflowerblue;"></i>
                    <div class="d-flex flex-column align-items-center">
                        <span class="fw-bold">加入時間</span>
                        <span class="fw-bold">2024-06-05</span>
                    </div>
                </div>

                <div class="w-25 d-flex align-items-center justify-content-evenly">
                    <i class="bi bi-calendar-event" style="font-size: 2rem; color: cornflowerblue;"></i>
                    <div class="d-flex flex-column align-items-center">
                        <span class="fw-bold">累計課程</span>
                        <span class="fw-bold">--</span>
                    </div>
                </div>
                
                <div class="w-25 d-flex align-items-center justify-content-evenly">
                    <i class="bi bi-chat-dots" style="font-size: 2rem; color: cornflowerblue;"></i>
                    <div class="d-flex flex-column align-items-center">
                        <span class="fw-bold">評論總數</span>
                        <span class="fw-bold">--</span>
                    </div>
                </div>
                
                <div class="w-25 d-flex align-items-center justify-content-evenly">
                    <i class="bi bi-balloon-heart-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
                    <div class="d-flex flex-column align-items-center">
                        <span class="fw-bold">追蹤教練</span>
                        <span class="fw-bold">--</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div></div>
</div>

@section Styles {
    <style>

    </style>
}

@section Scripts {
    <script>

    </script>
}