@{
    ViewData["Title"] = "Confirm";
}

<h1>付款完成</h1>
<div class="text-center p-0 m-0"><i class="bi bi-check2-circle" style="color:lightgreen;font-size:20em"></i></div>
<!-- 最上方的 bar -->
<div class="container d-flex flex-column justify-content-start" style="height:200px">
    <div class="container text-center">
        <a id="paymentStatus"><h3>交易狀態 : 交易已授權，等待確認</h3></a>
    </div>
    <button class="btn btn-primary btn-lg" onclick="confirmPayment()"> 確認付款</button>
</div>

@section Scripts {
    <script>
        let baseLoginPayUrl = 'https://localhost:7199/api/LinePay/';
        let transactionId = "";
        let orderId = "";

        window.onload = () => {
            // 取出 query parameter 中的 transactionId & orderId
            const params = new Proxy(new URLSearchParams(window.location.search), {
                get: (searchParams, prop) => searchParams.get(prop),
            });

            transactionId = params.transactionId;
            orderId = params.orderId;
            const paymentInfo = JSON.parse(sessionStorage.getItem('paymentInfo'));
            console.log(paymentInfo);
        }

        function confirmPayment() {
            // 交易訂單假資料
            payment = {
                amount: 3998,
                currency: "TWD",
            };
            $.post({
                url: baseLoginPayUrl + `Confirm?transactionId=${transactionId}&orderId=${orderId}`,
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(payment),
                success: (res) => {
                    $("#paymentStatus").html("<h3>交易狀態 : 成功</h3>")
                    console.log(res);

                    setTimeout(() => {
                        window.location = "https://localhost:7168/Home/Index";
                    }, 2000);
                },
                error: (err) => {
                    console.log(err);
                }
            })
        }
    </script>
}
@section Styles {
    <style>

    </style>
}